<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1>Welcome to To-Do-List</h1>
    <a href="/task/new_task">Add new task</a>
    {% for task in tasks %}
        <p>Задача: <br> {{task.description}} </p>
        <p>Status - {{task.status}} </p>
        <p><a href="task/?id={{ task.id }}">Подробнее</a></p>
    {% endfor %}
</body>
</html>